<div class="row">
  <div class="col-sm-12">
    <h5>Add new task</h5>
    <form (ngSubmit)="createTodoItem(form)" #form="ngForm">
      <div class="form-row">
        <div class="form-group col-12 col-sm-5 col-md-5">
          <input type="text" class="form-control" placeholder="Task" required ngModel name="task">
        </div>
        <div class="form-group col-12 col-sm-5 col-md-5">
          <input type="text" class="form-control" placeholder="Priority" ngModel name="priority">
        </div>
        <div class="form-group col-12 col-sm-2 col-md-2">
          <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!form.valid"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-lg-8">
    <h5>Open tasks</h5>
    <ul class="list-group" *ngFor="let item of items">
      <app-todo-list-item class="list-item" [title]="item['task']" [priority]="item['priority']" [due]="item['due']" [key]="item['key']" [selectEmitter]="itemEmitter" [doneEmitter]="doneEmitter"></app-todo-list-item>
    </ul>
  </div>
  <div class="col-lg-4 d-none d-lg-block">
      <h5>Details</h5>
      <app-todo-list-detail *ngIf="itemSelected" [key]="selectedItem" [detailEmitter]="detailEmitter" [changeEmitter]="changeEmitter"></app-todo-list-detail>
  </div>
</div>
