<div class="card">
  <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h3>{{task}}</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <b>Owner:</b>
        {{ownerName}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <b>Priority:</b>
        {{priority}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <b>Created:</b>
        {{created}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-danger" (click)="onClickDelete()">Delete</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-success float-right" (click)="onClickDone()">Done</button>
      </div>
    </div>
  </div>
</div>
