<div class="row">
  <div class="col-sm-12">
    <h5>Add new contact</h5>
    <form (ngSubmit)="createContact(form)" #form="ngForm">
      <div class="form-row">
        <div class="form-group col-9 col-sm-10 col-md-11">
          <input type="text" class="form-control" placeholder="Username" required ngModel name="username">
        </div>
        <div class="form-group col-3 col-sm-2 col-md-1">
          <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!form.valid"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<h5><b>Unconfirmed  Contacts</b></h5>
<ul class="list-group" *ngFor="let item of unconfirmedContacts">
  <app-contacts-item [id]="item['id']" [user_one]="item['user_one']" [user_two]="item['user_two']" [changeEmitter]="changeEmitter" [isConfirmed]="false"></app-contacts-item>
</ul>
<hr>
<h5><b>Contacts</b></h5>
<ul class="list-group" *ngFor="let item of confirmedContacts">
  <app-contacts-item [id]="item['id']" [user_one]="item['user_one']" [user_two]="item['user_two']" [changeEmitter]="changeEmitter" [isConfirmed]="true"></app-contacts-item>
</ul>

