<div class="row">
  <div class="col-0 col-sm-2 col-md-3 col-lg-3 col-xl-4"></div>
  <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4">
    <div class="card">
      <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
      <div class="card-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <h5 class="card-title">Required</h5>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">mood</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" ngModel name="username" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">person</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Firstname" ngModel name="firstname" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">people</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Lastname" ngModel name="lastname" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">email</i></span>
              </div>
              <input type="text" class="form-control" placeholder="E-Mail" ngModel name="email" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">lock</i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" ngModel name="password" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">lock</i></span>
              </div>
              <input type="password" class="form-control" placeholder="Confirm password" ngModel name="password-confirm" required>
            </div>
          </div>
          <hr>
          <h5 class="card-title">Optional</h5>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">cake</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Birthday" ngModel name="birthday">
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">location_city</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Location" ngModel name="location">
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="col-4">
              <button type="button" class="btn btn-primary" routerLink="/login">Go Back</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-success float-right" (click)="onClickActivate()" *ngIf="showActivationButton">Activate</button>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-success float-right">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-0 col-sm-2 col-md-3 col-lg-3 col-xl-4"></div>
</div>
