<li class="list-group-item">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>{{title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <b>Location:</b> {{location}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-4">
          <b>Startdate:</b> {{dateStart}}
        </div>
        <div class="col-12 col-md-4">
          <b>Enddate:</b> {{dateEnd}}
        </div>
      </div>
  <div class="row marginTop">
    <div class="container-fluid">
      <button class="btn btn-danger float-right" (click)="deleteExam()">Delete</button>
    </div>
  </div>
</li>
