<div class="row">
  <div class="col-sm-12">
    <div class="card-deck">
      <div class="card text-center">
        <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h1>{{aptTodayCount}}</h1>
          <p class="card-title">appointments today</p>
        </div>
      </div>

      <div class="card text-center">
        <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h1>{{todoCount}}</h1>
          <p class="card-title">open tasks</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-deck">
      <div class="card text-center">
        <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h1>{{courseCount}}</h1>
          <p class="card-title">registered courses</p>
        </div>
      </div>

      <div class="card text-center">
        <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h1>{{examCount}}</h1>
          <p class="card-title">exams</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quick functions</h5>
        <label class="card-text font-weight-bold">Add new appointment</label>
        <div class="col-sm-12">
          <form (ngSubmit)="createAppointment(aptForm)" #aptForm="ngForm">
            <div class="form-row">
              <div class="form-group col-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" placeholder="Description" required ngModel name="description">
              </div>
              <div class="form-group col-12 col-sm-6 col-md-2">
                <input type="text" class="form-control" placeholder="Date" required ngModel name="date">
              </div>
              <div class="form-group col-12 col-sm-5 col-md-2">
                <input type="text" class="form-control" placeholder="Time" required ngModel name="time">
              </div>
              <div class="form-group col-12 col-sm-5 col-md-3">
                <input type="text" class="form-control" placeholder="Location" ngModel name="location">
              </div>
              <div class="form-group col-12 col-sm-2 col-md-1">
                <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!aptForm.valid"><i class="material-icons">send</i></button>
              </div>
            </div>
          </form>
        </div>
        <label class="card-text font-weight-bold">Add new task</label>
        <div class="col-sm-12">
          <form (ngSubmit)="createTodoItem(form)" #form="ngForm">
            <div class="form-row">
              <div class="form-group col-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" placeholder="Task" required ngModel name="task">
              </div>
              <div class="form-group col-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" placeholder="Priority" ngModel name="priority">
              </div>
              <!--
              <div class="form-group col-12 col-sm-6 col-md-3">
                <input type="text" class="form-control" placeholder="Due Date">
              </div>
              -->
              <div class="form-group col-12 col-sm-2 col-md-2">
                <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!form.valid"><i class="material-icons">send</i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
