<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand anchor-link" (click)="logout()">
    <img src="assets/ic_exit_to_app_white_48px.svg" class="img-fluid" width="30" height="30">
  </a>
  <!--
  <a class="navbar-brand dropdown-toggle dropdown-link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="assets/placeholder/user-img-placeholder.jpg" class="img-fluid rounded-circle" width="30" height="30"  data-toggle="tooltip" data-placement="bottom" title="Logout">
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item dropdown-link" href="#">Profile</a>
    <a class="dropdown-item dropdown-link" href="#">Settings</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item dropdown-link" (click)="logout()">Logout</a>
  </div>
  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/']">Dashboard</a>
      <a class="nav-item nav-link" [routerLink]="['/todo']">To-Do List</a>
      <a class="nav-item nav-link" [routerLink]="['/calendar']">Calendar</a>
      <a class="nav-item nav-link" [routerLink]="['/courses']">Courses</a>
      <a class="nav-item nav-link" [routerLink]="['/exams']">Exams</a>
      <a class="nav-item nav-link" [routerLink]="['/contacts']">Contacts</a>
    </div>
  </div>
</nav>
