<div class="row">
  <div class="col-sm-12">
    <h5>Add new exam</h5>
    <form (ngSubmit)="createExamItem(exmForm)" #exmForm="ngForm">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6 col-md-6">
          <input type="text" class="form-control" placeholder="Title" required ngModel name="title">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-6">
          <input type="text" class="form-control" placeholder="Location" ngModel name="location">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3">
          <input type="text" class="form-control" placeholder="Date Start" required ngModel name="date_start">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-3">
          <input type="text" class="form-control" placeholder="Date End" required ngModel name="date_end">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-2">
          <input type="text" class="form-control" placeholder="Time Start" required ngModel name="time_start">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-2">
          <input type="text" class="form-control" placeholder="Time End" required ngModel name="time_end">
        </div>
        <div class="form-group col-12 col-sm-12 col-md-2">
          <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!exmForm.valid"><i class="material-icons">send</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<ul class="list-group" *ngFor="let item of items">
  <app-exam-item [key]="item['key']" [title]="item['title']" [location]="item['location']" [date_start]="item['date_start']" [date_end]="item['date_end']" [changeEmitter]="changeEmitter"></app-exam-item>
</ul>

