<li class="list-group-item">
  <div class="row">
    <div class="col-10 col-md-7">
      <a class="clickAnchor" (click)="selectEmit()">
        <div class="container-fluid">
          <b>{{title}}</b>
        </div>
      </a>
    </div>
    <div class="col-0 col-md-4 d-none d-md-block text-center v-divider">
      {{priority}}
    </div>
    <!--
    <div class="col-0 col-md-2 d-none d-md-block text-center v-divider">
      {{due}}
    </div>
    -->
    <div class="col-2 col-md-1 text-center v-divider">
      <a class="clickAnchor" (click)="setDone()"><i class="material-icons">check</i></a>
    </div>
  </div>
</li>
