<li class="list-group-item">
<div class="row">
  <div class="col-12 col-md-2">
  <img src="assets/placeholder/user-img-placeholder.jpg" class="img-fluid align-middle img-margin" width="150" height="150">
  </div>
  <div class="col-12 col-md-10 vertical-middle">
    <div class="row">
      <div class="col-12 col-md-4">
        <b>Username:</b> {{username}}
      </div>
      <div class="col-12 col-md-4">
        <b>Email:</b> {{email}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <b>Firstname:</b> {{firstname}}
      </div>
      <div class="col-12 col-md-4">
        <b>Lastname:</b> {{lastname}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <b>Birthday:</b> {{birthday}}
      </div>
      <div class="col-12 col-md-4">
        <b>Location:</b> {{location}}
      </div>
    </div>
  </div>
</div>
  <div class="row marginTop">
    <div class="container-fluid">
      <button class="btn btn-danger float-right" (click)="deleteContact()">Delete</button>
      <button class="btn btn-success float-right marginbutton" (click)="setConfirmed()" *ngIf="!isConfirmed"> Confirm </button>
    </div>
  </div>
</li>
