.img-margin {
  margin-bottom: 1.0em;
}

.vertical-middle {
  align-items: center;
}

.marginbutton {
  margin-right: 0.5em;
}

.marginTop {
  margin-top: 0.5em;
}

[hidden] { display: none !important;}
