<div class="row">
  <div class="col-sm-12">
    <h5>Add new appointment</h5>
    <div class="col-sm-12">
      <form (ngSubmit)="createAppointment(aptForm)" #aptForm="ngForm">
        <div class="form-row">
          <div class="form-group col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" placeholder="Description" required ngModel name="description">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" placeholder="Location" ngModel name="location">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-3">
            <input type="text" class="form-control" placeholder="Date Start" required ngModel name="date_start">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-3">
            <input type="text" class="form-control" placeholder="Date End" required ngModel name="date_end">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-2">
            <input type="text" class="form-control" placeholder="Time Start" required ngModel name="time_start">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-2">
            <input type="text" class="form-control" placeholder="Time End" required ngModel name="time_end">
          </div>
          <div class="form-group col-12 col-sm-12 col-md-2">
            <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!aptForm.valid"><i class="material-icons">send</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-6 cal-view">
    <mwl-calendar-month-view
      [viewDate]="selectedDate"
      [events]="events"
      (dayClicked)="dateSelected($event.day.date)">
    </mwl-calendar-month-view>
  </div>
  <div class="col-12 col-md-6">
    <h5>{{selectedDate.toDateString()}}</h5>
    <ul class="list-group" *ngFor="let item of items">
      <app-calendar-item class="list-item" [key]="item['key']" [title]="item['topic']" [dateStartNumber]="item['date_start']"
                         [dateEndNumber]="item['date_end']" [location]="item['location']" [changeEmitter]="changeEmitter"></app-calendar-item>
    </ul>
  </div>
</div>
