<div class="row">
  <div class="col-0 col-sm-2 col-md-3 col-lg-3 col-xl-4"></div>
  <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4">
    <div class="card">
      <img class="card-img-top" src="assets/placeholder/card-img-placeholder.png" alt="Card image cap">
      <div class="card-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">person</i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" ngModel name="username" required>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="material-icons">lock</i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" ngModel name="password" required>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="col-6">
              <button type="button" class="btn btn-primary" routerLink="/register">Sign up</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-0 col-sm-2 col-md-3 col-lg-3 col-xl-4"></div>
</div>
