<div class="row">
  <div class="col-sm-12">
    <h5>Add new course</h5>
    <div class="col-sm-12">
      <form (ngSubmit)="createCourse(crsForm)" #crsForm="ngForm">
        <div class="form-row">
          <div class="form-group col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" placeholder="Title" required ngModel name="title">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" placeholder="Location" ngModel name="location">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-3">
            <input type="text" class="form-control" placeholder="From" required ngModel name="time_start">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-3">
            <input type="text" class="form-control" placeholder="To" required ngModel name="time_end">
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4">
            <select class="form-control" id="exampleFormControlSelect1" required ngModel name="day">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
            </select>
          </div>
          <div class="form-group col-12 col-sm-6 col-md-2">
            <button type="submit" class="btn btn-success btn-sm btn-block" [disabled]="!crsForm.valid"><i class="material-icons">send</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="row marginTop">
  <div class="col-12 col-lg-2 text-center">
    <h3>Monday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of mondayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
  <div class="col-12 col-lg-2 text-center">
    <h3>Tuesday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of tuesdayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
  <div class="col-12 col-lg-2 text-center">
    <h3>Wednesday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of wednesdayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
  <div class="col-12 col-lg-2 text-center">
    <h3>Thursday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of thursdayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
  <div class="col-12 col-lg-2 text-center">
    <h3>Friday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of fridayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
  <div class="col-12 col-lg-2 text-center">
    <h3>Saturday</h3>
    <hr>
    <ul class="list-group" *ngFor="let item of saturdayCourses">
      <app-course-item [title]="item['title']" [key]="item['key']" [location]="item['location']" [dateStart]="item['date_start']" [dateEnd]="item['date_end']"></app-course-item>
    </ul>
  </div>
</div>
