<li class="list-group-item">
  <div class="row">
    <div class="col-6 col-md-6">
      <h3>{{title}}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 col-md-6">
      <h5>Start:</h5>
    </div>
    <div class="col-6 col-md-6">
      {{dateStart}}
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-6">
      <h5>End:</h5>
    </div>
    <div class="col-6 col-md-6">
      {{dateEnd}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 col-md-6">
      <h5>Location</h5>
    </div>
    <div class="col-6 col-md-6">
      {{location}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-danger" (click)="deleteAppointment()">Delete</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary float-right">Edit</button>
    </div>
  </div>
</li>
