<li class="list-group-item">
  <div class="row">
    <div class="col-12">
      <h5>{{title}}</h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 text-left">
      <b>From:</b>
    </div>
    <div class="col-6 text-left">
      {{start}}
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-left">
      <b>To:</b>
    </div>
    <div class="col-6 text-left">
      {{end}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 text-left">
      <b>Location:</b>
    </div>
    <div class="col-6 text-left">
      {{location}}
    </div>
  </div>
</li>
